@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


//Cores
$blue: #3294F8;
$base-title: #E7EDF4;
$base-subtitle: #C4D4E3;
$base-text: #AFC2D4;

$base-span: #7B96B2;
$base-label: #3A536B;
$base-border: #1C2F41;
$base-post: #112131;

$base-profile: #0B1B2B;
$base-background: #071422;
$base-input: #040F1A;


$font-family:'Nunito', sans-serif;

$font-weight-normal: 400;
$font-weight-bold: bold;
$font-height: 160%;


$font-size-6: 12px;
$font-size-5: 14px;
$font-size-4: 16px;
$font-size-3: 18px;
$font-size-2: 20px;
$font-size-1: 24px;